[user]
	name = Devon Yang
	email = devon@blendlabsinc.com
[push]
	default = simple
[branch]
	autosetuprebase = always
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	conflictstyle = diff3
